
/* Header CSS */

.header-container {
  display: flex;
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  background-color: #0b1a72;
}

.title {
  font-size: 24px;
  color: #FFF;
  padding: 0px 20px;
} 

.header-link {
  padding: 20px;
  text-decoration: none;
  color: #FFF;
  cursor: pointer;
} 

.students-list {
  display: flex;
  width: 70%;
  margin: auto;
  justify-content: center;
}


.student-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  color: #0b1a72;
}

span {
  color: black
}